html {
	overflow-x: hidden;
	overflow-y: hidden;
}	

.welcome {
			text-align:center;
			width:100%;
			margin-top:15%;
		}
		
		.welcome2 {
			text-align:center;
			width:100%;
			font-size:1;
		}
		
		.bottom {
			text-align:center;
			width:100%;
			position: absolute;
			bottom:0;
		}
	
		* {
			color:white;
			font-family: ocr;
			text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
			
		}
	
        body { background-color:lightBlue; }
        #snow{
			
            background-color: black;
            font-family: Androgyne;
            background-image: url('../images/corndog-tile-1.png'), url('../images/corndog-tile.png'), url('../images/corndog-tile-2.png');
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index:1;
            -webkit-animation: snow 700s linear infinite;
            -moz-animation: snow 700s linear infinite;
            -ms-animation: snow 700s linear infinite;
            animation: snow 700s linear infinite;
            -webkit-transform: translate3d(0,0,0);
            -moz-transform: translate3d(0,0,0);
            -ms-transform: translate3d(0,0,0);
            -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }
        @keyframes snow {
          0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
          100% {background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;}          
        }
        @-moz-keyframes snow {
          0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
          100% {background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;}          
        }
        @-webkit-keyframes snow {
          0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
          100% {background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;}          
        }
        @-ms-keyframes snow {
          0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
          100% {background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;}          
        }   
		
		@font-face {
		font-family: 'ocr'; /*a name to be used later*/
		src: url('ocr-abt.ttf'); /*URL to font*/
		}
		


.view {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top:100px;
  -webkit-perspective: 400;
          perspective: 400;
}

.plane {
  width: 120px;
  height: 120px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.plane.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotateX(60deg) rotateZ(-30deg);
          transform: rotateX(60deg) rotateZ(-30deg);
  -webkit-animation: rotate 20s infinite linear;
          animation: rotate 20s infinite linear;
}
.plane.main .circle {
  width: 120px;
  height: 120px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 60px red, inset 0 0 60px green;
}
.plane.main .circle::before, .plane.main .circle::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 10%;
  height: 10%;
  border-radius: 100%;
  background: green;
  box-sizing: border-box;
  box-shadow: 0 0 60px 2px red;
}
.plane.main .circle::before {
  -webkit-transform: translateZ(-90px);
          transform: translateZ(-90px);
}
.plane.main .circle::after {
  -webkit-transform: translateZ(90px);
          transform: translateZ(90px);
}
.plane.main .circle:nth-child(1) {
  -webkit-transform: rotateZ(72deg) rotateX(63.435deg);
          transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(2) {
  -webkit-transform: rotateZ(144deg) rotateX(63.435deg);
          transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(3) {
  -webkit-transform: rotateZ(216deg) rotateX(63.435deg);
          transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(4) {
  -webkit-transform: rotateZ(288deg) rotateX(63.435deg);
          transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(5) {
  -webkit-transform: rotateZ(360deg) rotateX(63.435deg);
          transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
 